{
  "plugins": [
    "@babel/syntax-dynamic-import",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true // or 'css'
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ]
}
